domains/D12-digital/best-practices/fis-egia-api/schemas/DespatchXsd/LkLegalGuardianConsent/LkLegalGuardianConsent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="LkLegalGuardianConsent">
               <xs:annotation>
                  <xs:documentation>Согласие законного представителя на заключение целевого договора, внесенное оператором вуза через ЛК Сервиса приема</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="BigIntType" name="IdCompetitiveGroup">
                        <xs:annotation>
                           <xs:documentation>Уникальный идентификатор КГ заявления (CompetitiveGroupList)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="String50Type" name="OfferNumber">
                        <xs:annotation>
                           <xs:documentation>Номер предложения</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="xs:dateTime" name="CreatedDateTime">
                        <xs:annotation>
                           <xs:documentation>Дата и время добавления согласия в Сервис приема. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение только по московскому времени</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="File" minOccurs="0">
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="FileHashType" name="FileHash">
                                 <xs:annotation>
                                    <xs:documentation>Хэш файла по которому можно узнать не менялось ли содержимое</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="FuiType" name="Fui">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор файла в Сервисе Приема. По этому идентификатору можно получить файл в /api/file/get</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="String50Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="FileHashType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="FuiType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="70" />
         <xs:minLength value="55" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>