domains/D12-digital/best-practices/fis-egia-api/schemas/OwnXsd/EntranceTestPlaceList/Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="EntranceTestPlaceList">
               <xs:annotation>
                  <xs:documentation>Расписание вступительных испытаний (сущность)</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="EntranceTestPlace" minOccurs="1" maxOccurs="200">
                        <xs:annotation>
                           <xs:documentation>Объект</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="BigIntType" name="IdObject">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="BigIntType" name="Id">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта EntranceTestPlace</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="StartTest">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время начала сдачи. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Задавать значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="EndTest" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время завершения сдачи. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Задавать значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="StartRegistration">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время начала записи (значения должны попадать в периоды мероприятий «Проведение ВИ вуза» или «Проведение ДВИ»). Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Задавать значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="EndRegistration">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время завершения записи (значения должны попадать в периоды мероприятий «Проведение ВИ вуза» или «Проведение ДВИ»). Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Задавать значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdSubject">
                                 <xs:annotation>
                                    <xs:documentation>Идентификатор классификатора SubjectCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:boolean" name="IsIntramural">
                                 <xs:annotation>
                                    <xs:documentation>Тип сдачи (true - очная, false - дистанционная)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String500Type" name="TestLocation">
                                 <xs:annotation>
                                    <xs:documentation>Место сдачи или url</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="MaxCountEntrants">
                                 <xs:annotation>
                                    <xs:documentation>Максимальное кол-во поступающих, которое может записаться на эту дату</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String750Type" name="Comment" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Комментарий (для указания дополнительной информации, например, логин и пароль для входа на дистанционную сдачу, или, что с собой брать на сдачу или форма проведения ВИ).</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:boolean" name="IsReserveDate">
                                 <xs:annotation>
                                    <xs:documentation>Признак «Резервная дата» (да/нет)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdDictionaryValueSport" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Вид спорта. Уникальный идентификатор справочника вуза (DictionaryValueList). Указывать ТОЛЬКО если предмет с параметром «Выбор вида спорта» = Да</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdEducationLevelGroup">
                                 <xs:annotation>
                                    <xs:documentation>Группа уровня образования. Идентификатор классификатора EducationLevelGroupCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdStageAdmission">
                                 <xs:annotation>
                                    <xs:documentation>Этап приема. Идентификатор классификатора StagesAdmissionCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:boolean" name="IsNewTerritories">
                                 <xs:annotation>
                                    <xs:documentation>Признак «Для новых территорий» (да/нет)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="BigIntType">
        <xs:restriction base="xs:positiveInteger">
            <xs:maxInclusive value="9223372036854775807" />
        </xs:restriction>
    </xs:simpleType>
   <xs:simpleType name="Int4Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="2147483647" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String500Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="500" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String750Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="750" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>