domains/D12-digital/best-practices/fis-egia-api/schemas/OwnXsd/EntranceTestPlaceList/GetDirect.Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="xs:positiveInteger" name="IdJwt">
               <xs:annotation>
                  <xs:documentation>Уникальный идентификатор запроса на обработку данных (токена)</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="String50Type" name="EntityAction">
               <xs:annotation>
                  <xs:documentation>Имя сущности и действие над сущностью сконкатенированное через '_'. Например "Campaign_Add"</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="StageType" name="Stage">
               <xs:annotation>
                  <xs:documentation>Наименование стадии обработки на которой завершилось выполнение токена</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="SuccessResultList" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="EntranceTestPlace" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:documentation>Объект</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="xs:positiveInteger" name="IdObject">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="BigIntType" name="Id">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта EntranceTestPlace</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="UidType" name="Uid">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках организации сгенерированный организацией</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="BigIntType" name="IdCampaign">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор приемной кампании (CampaignList)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String13Type" name="OgrnOwnerOrganization">
                                 <xs:annotation>
                                    <xs:documentation>Огрн организации за которую заполняются данные (организация должна быть либо филиалом либо головной организацией)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String9Type" name="KppOwnerOrganization">
                                 <xs:annotation>
                                    <xs:documentation>Кпп организации за которую заполняются данные (организация должна быть либо филиалом либо головной организацией)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="StartTest">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время начала сдачи. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="EndTest" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время завершения сдачи. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="StartTestLocalTime">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время начала сдачи. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Возвращаемое значение возвращается в местном часовом поясе. Часовой пояс задается для организации в личном кабинете.</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="EndTestLocalTime" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время завершения сдачи. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Возвращаемое значение возвращается в местном часовом поясе. Часовой пояс задается для организации в личном кабинете.</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="StartRegistration">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время начала записи (значения должны попадать в периоды мероприятий «Проведение ВИ вуза» или «Проведение ДВИ»). Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="EndRegistration">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время завершения записи (значения должны попадать в периоды мероприятий «Проведение ВИ вуза» или «Проведение ДВИ»). Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="StartRegistrationLocalTime">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время начала записи (значения должны попадать в периоды мероприятий «Проведение ВИ вуза» или «Проведение ДВИ»). Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Возвращаемое значение возвращается в местном часовом поясе. Часовой пояс задается для организации в личном кабинете.</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="EndRegistrationLocalTime">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время завершения записи (значения должны попадать в периоды мероприятий «Проведение ВИ вуза» или «Проведение ДВИ»). Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Возвращаемое значение возвращается в местном часовом поясе. Часовой пояс задается для организации в личном кабинете.</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdSubject">
                                 <xs:annotation>
                                    <xs:documentation>Идентификатор классификатора SubjectCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:boolean" name="IsIntramural">
                                 <xs:annotation>
                                    <xs:documentation>Тип сдачи (true - очная, false - дистанционная)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String500Type" name="TestLocation">
                                 <xs:annotation>
                                    <xs:documentation>Место сдачи или url</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="MaxCountEntrants">
                                 <xs:annotation>
                                    <xs:documentation>Максимальное кол-во поступающих, которое может записаться на эту дату</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String750Type" name="Comment" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Комментарий (для указания дополнительной информации, например, логин и пароль для входа на дистанционную сдачу, или, что с собой брать на сдачу или форма проведения ВИ).</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:boolean" name="IsReserveDate">
                                 <xs:annotation>
                                    <xs:documentation>Признак «Резервная дата» (да/нет)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdDictionaryValueSport" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Вид спорта. Уникальный идентификатор справочника вуза (DictionaryValueList). Указывать ТОЛЬКО если предмет с параметром «Выбор вида спорта» = Да</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdEducationLevelGroup">
                                 <xs:annotation>
                                    <xs:documentation>Группа уровня образования. Идентификатор классификатора EducationLevelGroupCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdStageAdmission">
                                 <xs:annotation>
                                    <xs:documentation>Этап приема. Идентификатор классификатора StagesAdmissionCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:boolean" name="IsNewTerritories">
                                 <xs:annotation>
                                    <xs:documentation>Признак «Для новых территорий» (да/нет)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="ErrorList" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Error" maxOccurs="unbounded" minOccurs="1">
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="xs:positiveInteger" name="Code">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный код ошибки. Полный список кодов ошибок и их расшифровок смотрите в документации</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:positiveInteger" name="IdObject" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена.
                                    Например, если в токене было передано три объекта, то каждому из них должен быть присвоен
                                    уникальный номер (IdObject), и тогда по каждому объекту вернется либо Success либо Error.
                                    При этом ответ по каждой отдельной сущности вернется только в случае успешно пройденной основной валидации</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String350Type" name="Description">
                                 <xs:annotation>
                                    <xs:documentation>Описание кода ошибки</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="ParamType" name="Params" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Нестандартизированный параметр который раскрывает детали произошедшей ошибки</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="Time">
                                 <xs:annotation>
                                    <xs:documentation>Время формирования ответа. Значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="ParamType">
      <xs:sequence>
         <xs:element name="Param" maxOccurs="unbounded" minOccurs="1">
            <xs:complexType>
               <xs:all>
                  <xs:element type="String200Type" name="Key" />
                  <xs:element type="String350Type" name="Value" />
               </xs:all>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="StageType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Validate" />
         <xs:enumeration value="Business" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BigIntType">
        <xs:restriction base="xs:positiveInteger">
            <xs:maxInclusive value="9223372036854775807" />
        </xs:restriction>
    </xs:simpleType>
   <xs:simpleType name="Int4Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="2147483647" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String9Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="9" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String13Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="13" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UidType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="36" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String50Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String200Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="200" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String350Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="350" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String500Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="500" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String750Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="750" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>