domains/D12-digital/best-practices/fis-egia-api/schemas/DespatchXsd/EpguConsentToEnroll/EpguConsentToEnroll.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="EpguConsentToEnroll">
               <xs:annotation>
                  <xs:documentation>Подача (отзыв) согласия в вуз онлайн (из ЕПГУ)</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="BigIntType" name="IdEntrant">
                        <xs:annotation>
                           <xs:documentation>Уникальный идентификатор профиля поступающего сгенерированный Сервисом приема</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="xs:boolean" name="Agree">
                        <xs:annotation>
                           <xs:documentation>Согласие подано (TRUE) или отозвано (FALSE)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="xs:dateTime" name="AgreeDate">
                        <xs:annotation>
                           <xs:documentation>Дата и время подачи/отзыва согласия. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение только по московскому времени</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="Int4Type" name="IdEducationLevelGroup">
                        <xs:annotation>
                           <xs:documentation>Группа уровней образования. Идентификатор классификатора EducationLevelGroupCls</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="Int4Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="2147483647" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>