domains/D12-digital/best-practices/fis-egia-api/schemas/DespatchXsd/EpguDisplayApplication/EpguDisplayApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="EpguDisplayApplication">
               <xs:annotation>
                  <xs:documentation>Заявление стало отображаться на ЕПГУ</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:all>
                     <xs:element type="BigIntType" name="IdApplication">
                        <xs:annotation>
                           <xs:documentation>Уникальный идентификатор заявления</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="BigIntType" name="IdEpgu">
                        <xs:annotation>
                           <xs:documentation>Уникальный идентификатор заявления на ЕПГУ</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="BigIntType" name="IdEntrant">
                        <xs:annotation>
                           <xs:documentation>Уникальный идентификатор профиля поступающего сгенерированный Сервисом приема</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="BigIntType" name="UniqueCodeProfile">
                        <xs:annotation>
                           <xs:documentation>Уникальный код поступающего (для формирования конкурсных списков и списков поступающих)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>