domains/D12-digital/best-practices/fis-egia-api/schemas/OwnXsd/RankedCompetitionListPackage/Add.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="RankedCompetitionListPackage">
               <xs:annotation>
                  <xs:documentation>Пакет конкурсного списка (сущность)</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:all>
                     <xs:element type="BigIntType" name="IdObject">
                        <xs:annotation>
                           <xs:documentation>Уникальный идентификатор объекта в рамках данного токена</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="String500Type" name="Name">
                        <xs:annotation>
                           <xs:documentation>Наименование пакета</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="FileBodyType" name="Base64File">
                        <xs:annotation>
                           <xs:documentation>Файл с xml схемой соответствующей PackageBodyFile.xsd закодированный в base64</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="FileBodyType">
      <xs:restriction base="xs:string">
         <xs:minLength value="50" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String500Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="500" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>