domains/D12-digital/best-practices/fis-egia-api/schemas/OwnXsd/PlaceDistributionList/GetAll.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="PlaceDistributionList">
               <xs:annotation>
                  <xs:documentation>Распределение КЦП (сущность)</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="PlaceDistribution" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                           <xs:documentation>Объект</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="BigIntType" name="IdObject">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String13Type" name="Ogrn">
                                 <xs:annotation>
                                    <xs:documentation>Огрн организации за которую заполняются данные (организация должна быть либо филиалом либо головной организацией)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String9Type" name="Kpp">
                                 <xs:annotation>
                                    <xs:documentation>Кпп организации за которую заполняются данные (организация должна быть либо филиалом либо головной организацией)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String9Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="9" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String13Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="13" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>