domains/D12-digital/best-practices/fis-egia-api/schemas/OwnXsd/CompetitiveGroupList/GetDirect.Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="xs:positiveInteger" name="IdJwt">
               <xs:annotation>
                  <xs:documentation>Уникальный идентификатор запроса на обработку данных (токена)</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="String50Type" name="EntityAction">
               <xs:annotation>
                  <xs:documentation>Имя сущности и действие над сущностью сконкатенированное через '_'. Например "Campaign_Add"</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="StageType" name="Stage">
               <xs:annotation>
                  <xs:documentation>Наименование стадии обработки на которой завершилось выполнение токена</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="SuccessResultList" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="CompetitiveGroup" maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:documentation>Объект</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="BigIntType" name="IdObject">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="BigIntType" name="IdApplication">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор заявления (ApplicationList)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="BigIntType" name="IdCompetition">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор конкурса (CompetitionList)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="BigIntType" name="IdCompetitiveGroup">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор КГ заявления (CompetitiveGroupList)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdStatus">
                                 <xs:annotation>
                                    <xs:documentation>Статус КГ заявления. Идентификатор классификатора CompetitiveGroupStatusCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="StatusUpdatedDateTime">
                                 <xs:annotation>
                                    <xs:documentation>Время последнего редактирования статуса. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="CreatedDateTime">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время создания КГ. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:boolean" name="IsOovo">
                                 <xs:annotation>
                                    <xs:documentation>Признак создания вузом (true - создано вузом, false - поступающим через ЕПГУ)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="Priority">
                                 <xs:annotation>
                                    <xs:documentation>Приоритет КГ заявления</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:choice>
                                       <xs:element type="BigIntType" name="PriorityTarget">
                                          <xs:annotation>
                                             <xs:documentation>Приоритет целевой квоты</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="BigIntType" name="PriorityOther">
                                          <xs:annotation>
                                             <xs:documentation>Приоритет иных мест</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="PriorityUpdatedDateTime">
                                 <xs:annotation>
                                    <xs:documentation>Время последнего редактирования приоритета. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="SourceType" name="PrioritySource">
                                 <xs:annotation>
                                    <xs:documentation>Источник изменения приоритета</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdStageAdmission">
                                 <xs:annotation>
                                    <xs:documentation>Этап приема конкурса ПК. Идентификатор классификатора StagesAdmissionCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdEducationForm">
                                 <xs:annotation>
                                    <xs:documentation>Форма обучения конкурса ПК. Идентификатор классификатора EducationFormCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdPlaceType">
                                 <xs:annotation>
                                    <xs:documentation>Вид мест конкурса ПК. Идентификатор классификатора PlaceTypeCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdDirection">
                                 <xs:annotation>
                                    <xs:documentation>Идентификатор классификатора DirectionCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="DictionaryValueSportList" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Указать список видов спорта</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="Int4Type" name="Id" minOccurs="1" maxOccurs="unbounded">
                                          <xs:annotation>
                                             <xs:documentation>Вид спорта. Уникальный идентификатор справочника вуза (DictionaryValueList)</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="RefuseEnrollmentDate" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Дата и время отказа от зачисления. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="TargetCompetitiveGroup" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Данные по целевой КГ</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:boolean" name="LegalGuardianConsents">
                                          <xs:annotation>
                                             <xs:documentation>Согласие законного представителя на заключение целевого договора (TRUE - подано, FALSE - не подано или не требуются)</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element name="File" minOccurs="0">
                                          <xs:complexType>
                                             <xs:all>
                                                <xs:element type="FileHashType" name="FileHash">
                                                   <xs:annotation>
                                                      <xs:documentation>Хэш файла по которому можно узнать не менялось ли содержимое</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="FuiType" name="Fui">
                                                   <xs:annotation>
                                                      <xs:documentation>Уникальный идентификатор файла в Сервисе Приема. По этому идентификатору можно получить файл в /api/file/get</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                             </xs:all>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="BigIntType" name="IdTargetOrganization">
                                          <xs:annotation>
                                             <xs:documentation>Идентификатор заказчика (из классификатора TargetOrganizationCls)</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="String50Type" name="TargetOfferNumber">
                                          <xs:annotation>
                                             <xs:documentation>Номер предложения</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="String500Type" name="TargetOrganizationName">
                                          <xs:annotation>
                                             <xs:documentation>Имя заказчика</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="xs:boolean" name="RvrPublished">
                                          <xs:annotation>
                                             <xs:documentation>Опубликовано на ЕЦП "Работа в России"</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="Int4Type" name="IdWasInCareerEvents">
                                          <xs:annotation>
                                             <xs:documentation>Поступающий принимал участие в профориентационных мероприятиях. Идентификатор классификатора TargetOfferParamsCls</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="Int4Type" name="IdCompetitionCivilService">
                                          <xs:annotation>
                                             <xs:documentation>Конкурс на гос.службу пройден. Идентификатор классификатора TargetOfferParamsCls</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="Int4Type" name="IdWithoutMedicalIndications">
                                          <xs:annotation>
                                             <xs:documentation>Нет мед.противопоказаний. Идентификатор классификатора TargetOfferParamsCls</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="Int4Type" name="IdStateSecret">
                                          <xs:annotation>
                                             <xs:documentation>Есть доступ к гос.тайне. Идентификатор классификатора TargetOfferParamsCls</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="Int4Type" name="NumberPlaceOffer" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Количество мест в предложении (обязательно если RvrPublished = FALSE)</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element name="ResultCareerEvents">
                                          <xs:annotation>
                                             <xs:documentation>Баллы за профориентационные мероприятия</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                             <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:minInclusive value="0" />
                                                <xs:maxInclusive value="5" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="TargetOrganizationNumber" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Номер заказчика присвоенный вузом (Обязательный если RvrPublished = FALSE)</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                             <xs:restriction base="xs:positiveInteger">
                                                <xs:minInclusive value="1" />
                                                <xs:maxInclusive value="999" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="RvrResponse" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Ответ от ЕЦП Работа в России (по номеру предложения)</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:all>
                                                <xs:element type="Int4Type" name="IdStatusOffer">
                                                   <xs:annotation>
                                                      <xs:documentation>Ответ от ЕЦП Работа в России. Идентификатор классификатора StatusOfferCls </xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="String500Type" name="StatusOfferComment" minOccurs="0">
                                                   <xs:annotation>
                                                      <xs:documentation>Комментарий (при наличии)</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="BigIntType" name="NumberPlaceInOffer" minOccurs="0">
                                                   <xs:annotation>
                                                      <xs:documentation>Кол-во мест в предложении (По данным из ЕЦП Работа в России)</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                             </xs:all>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:boolean" name="OfflinePaidContract">
                                 <xs:annotation>
                                    <xs:documentation>Признак наличия договора на платное обучение, заключенного очно (TRUE - есть договор FALSE - нет договора)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdPaidContractStatus" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Статус договора о платном обучении. Идентификатор классификатора PaidContractStatusCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="ErrorList" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Error" maxOccurs="unbounded" minOccurs="1">
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="xs:positiveInteger" name="Code">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный код ошибки. Полный список кодов ошибок и их расшифровок смотрите в документации</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:positiveInteger" name="IdObject" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена.
                                    Например, если в токене было передано три объекта, то каждому из них должен быть присвоен
                                    уникальный номер (IdObject), и тогда по каждому объекту вернется либо Success либо Error.
                                    При этом ответ по каждой отдельной сущности вернется только в случае успешно пройденной основной валидации</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String350Type" name="Description">
                                 <xs:annotation>
                                    <xs:documentation>Описание кода ошибки</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="ParamType" name="Params" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Нестандартизированный параметр который раскрывает детали произошедшей ошибки</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="Time">
                                 <xs:annotation>
                                    <xs:documentation>Время формирования ответа. Значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="ParamType">
      <xs:sequence>
         <xs:element name="Param" maxOccurs="unbounded" minOccurs="1">
            <xs:complexType>
               <xs:all>
                  <xs:element type="String200Type" name="Key" />
                  <xs:element type="String350Type" name="Value" />
               </xs:all>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="StageType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Validate" />
         <xs:enumeration value="Business" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="SourceType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Oovo" />
         <xs:enumeration value="Epgu" />
         <xs:enumeration value="SSPVO" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Int4Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="2147483647" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String50Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String200Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="200" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String350Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="350" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String500Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="500" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="FuiType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="70" />
         <xs:minLength value="55" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="FileHashType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>