domains/D12-digital/best-practices/fis-egia-api/schemas/OwnXsd/CompetitiveGroupSyncUpload/GetAll.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CompetitiveGroupSyncUpload">
               <xs:annotation>
                  <xs:documentation>Выгрузка конкурсных групп вузов (сущность)</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:all>
                     <xs:element type="String13Type" name="OgrnOwnerOrganization">
                        <xs:annotation>
                           <xs:documentation>Огрн организации за которую заполняются данные (организация должна быть либо филиалом либо головной организацией с вашей организацией)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="String9Type" name="KppOwnerOrganization">
                        <xs:annotation>
                           <xs:documentation>Кпп организации за которую заполняются данные (организация должна быть либо филиалом либо головной организацией с вашей организацией)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="String9Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="9" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String13Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="13" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>