domains/D12-digital/best-practices/fis-egia-api/schemas/DespatchXsd/RtTargetOffer/RtTargetOffer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="RtTargetOffer">
               <xs:annotation>
                  <xs:documentation>Ответ от ЕЦП Работа в России по КГ</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="BigIntType" name="IdCompetitiveGroup">
                        <xs:annotation>
                           <xs:documentation>Уникальный идентификатор КГ заявления (CompetitiveGroupList) сгенерированный Сервисом приема</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="String50Type" name="TargetOfferNumber">
                        <xs:annotation>
                           <xs:documentation>Номер предложения</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="Int4Type" name="IdStatusOffer">
                        <xs:annotation>
                           <xs:documentation>Ответ от ЕЦП Работа в России. Идентификатор классификатора StatusOfferCls </xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="String500Type" name="StatusOfferComment" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>Комментарий (при наличии)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="BigIntType" name="NumberPlaceInOffer" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>Кол-во мест в предложении (По данным из ЕЦП Работа в России)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="xs:dateTime" name="DateTimeRequest">
                        <xs:annotation>
                           <xs:documentation>Дата и время получения ответа от ЕЦП Работа в России. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение только по московскому времени</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Int4Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="2147483647" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String50Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String500Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>