domains/D12-digital/best-practices/fis-egia-api/schemas/OwnXsd/CompetitiveGroupAchievementList/GetBy.Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="xs:positiveInteger" name="IdJwt">
               <xs:annotation>
                  <xs:documentation>Уникальный идентификатор запроса на обработку данных (токена)</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="String50Type" name="EntityAction">
               <xs:annotation>
                  <xs:documentation>Имя сущности и действие над сущностью сконкатенированное через '_'. Например "Campaign_Add"</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="StageType" name="Stage">
               <xs:annotation>
                  <xs:documentation>Наименование стадии обработки на которой завершилось выполнение токена</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="SuccessResultList" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="CompetitiveGroupAchievement" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:documentation>Объект</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="BigIntType" name="IdObject">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="BigIntType" name="IdCampaign">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор приемной кампании (CampaignList)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="BigIntType" name="IdCompetitiveGroup">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор КГ заявления (CompetitiveGroupList)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdAchievementCategory">
                                 <xs:annotation>
                                    <xs:documentation>Категория индивидуального достижения. Идентификатор классификатора AchievementCategoryCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="NonNegativeInt1000Type" name="Mark">
                                 <xs:annotation>
                                    <xs:documentation>Балл</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="Document">
                                 <xs:annotation>
                                    <xs:documentation>Информация о документе подтверждающего индивидуальное достижение</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:all>
                                       <xs:element type="BigIntType" name="Id">
                                          <xs:annotation>
                                             <xs:documentation>Уникальный идентификатор документа (DocumentList)</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="String20Type" name="DocSeries" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Серия документа</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="String50Type" name="DocNumber" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Номер документа</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="xs:date" name="IssueDate" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Дата выдачи. Шаблон "2006-01-02"</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="String500Type" name="DocOrganization" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Организация, выдавшая документ</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element name="Fields" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Реквизиты, в зависимости от типа документа</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:any maxOccurs="unbounded" namespace="##any" processContents="skip" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="File" minOccurs="0">
                                          <xs:complexType>
                                             <xs:all>
                                                <xs:element type="FileHashType" name="FileHash">
                                                   <xs:annotation>
                                                      <xs:documentation>Хэш файла по которому можно узнать не менялось ли содержимое</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="FuiType" name="Fui">
                                                   <xs:annotation>
                                                      <xs:documentation>Уникальный идентификатор файла в Сервисе Приема. По этому идентификатору можно получить файл в /api/file/get</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                             </xs:all>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:all>
                                 </xs:complexType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="ErrorList" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Error" maxOccurs="unbounded" minOccurs="1">
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="xs:positiveInteger" name="Code">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный код ошибки. Полный список кодов ошибок и их расшифровок смотрите в документации</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:positiveInteger" name="IdObject" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена.
                                    Например, если в токене было передано три объекта, то каждому из них должен быть присвоен
                                    уникальный номер (IdObject), и тогда по каждому объекту вернется либо Success либо Error.
                                    При этом ответ по каждой отдельной сущности вернется только в случае успешно пройденной основной валидации</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String350Type" name="Description">
                                 <xs:annotation>
                                    <xs:documentation>Описание кода ошибки</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="ParamType" name="Params" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Нестандартизированный параметр который раскрывает детали произошедшей ошибки</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="Time">
                                 <xs:annotation>
                                    <xs:documentation>Время формирования ответа. Значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="ParamType">
      <xs:sequence>
         <xs:element name="Param" maxOccurs="unbounded" minOccurs="1">
            <xs:complexType>
               <xs:all>
                  <xs:element type="String200Type" name="Key" />
                  <xs:element type="String350Type" name="Value" />
               </xs:all>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeInt1000Type">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:maxInclusive value="1000" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="StageType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Validate" />
         <xs:enumeration value="Business" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Int4Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="2147483647" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="FuiType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="70" />
         <xs:minLength value="55" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="FileHashType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String20Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String32Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String50Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String200Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="200" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String350Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="350" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String500Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="500" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>