domains/D12-digital/best-practices/fis-egia-api/schemas/DespatchXsd/LkCompetitiveGroupAchievement/LkCompetitiveGroupAchievement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="LkCompetitiveGroupAchievement">
               <xs:annotation>
                  <xs:documentation>Назначение баллов за ИД, внесенное оператором вуза через ЛК Сервиса приема</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:all>
                     <xs:element type="BigIntType" name="IdCompetitiveGroup">
                        <xs:annotation>
                           <xs:documentation>Уникальный идентификатор КГ заявления (CompetitiveGroupList)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="BigIntType" name="IdDocument">
                        <xs:annotation>
                           <xs:documentation>Уникальный идентификатор документа (DocumentList)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="NonNegativeInt1000Type" name="Mark">
                        <xs:annotation>
                           <xs:documentation>Балл</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeInt1000Type">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:maxInclusive value="1000" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>