domains/D12-digital/best-practices/fis-egia-api/schemas/DespatchXsd/RtTargetContract/RtTargetContract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="RtTargetContract">
               <xs:annotation>
                  <xs:documentation>Сведения о заключенном целевом договоре на платформе 'Работа в России'</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:all>
                    <xs:element type="BigIntType" name="IdCompetitiveGroup">
                      <xs:annotation>
                        <xs:documentation>Уникальный идентификатор КГ заявления (CompetitiveGroupList) сгенерированный Сервисом приема</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                     <xs:element type="String50Type" name="OfferNumber">
                        <xs:annotation>
                           <xs:documentation>Номер предложения</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="IdTargetContractStatusCls" type="Int4Type"> 
                     	<xs:annotation>
                     	   <xs:documentation>Статус целевого договора. Идентификатор классификатора TargetContractStatusCls</xs:documentation>
                     	</xs:annotation>
                     </xs:element>
                     <xs:element name="StatusComment" type="String2000Type" minOccurs="0">
                     	<xs:annotation>
                     	   <xs:documentation>Комментарий к статусу</xs:documentation>
                     	</xs:annotation>
                     </xs:element>
                     <xs:element name="CreatedAt" type="xs:dateTime">
		               	<xs:annotation>
		               		<xs:documentation>Дата и время появления сведений в Сервисе приема. В формате "2022-02-02T09:00:00+03:00". Значение только по московскому времени</xs:documentation>
		               	</xs:annotation>
		               </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="String50Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Int4Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="2147483647" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String256Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String2000Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2000" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
  <xs:simpleType name="BigIntType">
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="9223372036854775807" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>