domains/D12-digital/best-practices/fis-egia-api/schemas/OwnXsd/EntrantList/GetDirect.Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="xs:positiveInteger" name="IdJwt">
               <xs:annotation>
                  <xs:documentation>Уникальный идентификатор запроса на обработку данных (токена)</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="String50Type" name="EntityAction">
               <xs:annotation>
                  <xs:documentation>Имя сущности и действие над сущностью сконкатенированное через '_'. Например "Campaign_Add"</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="StageType" name="Stage">
               <xs:annotation>
                  <xs:documentation>Наименование стадии обработки на которой завершилось выполнение токена</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="SuccessResultList" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Entrant" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:documentation>Объект</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="BigIntType" name="IdObject">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="BigIntType" name="Id">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор профиля поступающего сгенерированный Сервисом приема</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="BigIntType" name="UniqueCodeProfile">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный код поступающего (для формирования конкурсных списков и списков поступающих)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="SnilsType" name="Snils" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>СНИЛС</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int2Type" name="IdGender">
                                 <xs:annotation>
                                    <xs:documentation>Пол. Идентификатор классификатора GenderCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:date" name="Birthday">
                                 <xs:annotation>
                                    <xs:documentation>Дата рождения. Шаблон "2006-01-02"</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String500Type" name="Birthplace">
                                 <xs:annotation>
                                    <xs:documentation>Место рождения</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String256Type" name="Phone" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Телефон</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String150Type" name="Email" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Электронный адрес</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String255Type" name="Surname" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Фамилия</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String255Type" name="Name" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Имя</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String255Type" name="Patronymic" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Отчество</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdOksm">
                                 <xs:annotation>
                                    <xs:documentation>Гражданство - Идентификатор классификатора OksmCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="FreeEducationReason" minOccurs="0">
                                 <xs:complexType>
                                    <xs:all>
                                       <xs:element type="Int4Type" name="IdFreeEducationReason">
                                          <xs:annotation>
                                             <xs:documentation>Основания для получения бесплатного образования (для иностранца). Идентификатор классификатора FreeEducationReasonCls</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="BigIntType" name="IdOksmFreeEducationReason" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Страна, с которой заключен договор. Идентификатор классификатора OksmCls</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                    </xs:all>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="AddressList" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Список адресов поступающего</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="Address" minOccurs="1" maxOccurs="unbounded">
                                          <xs:annotation>
                                             <xs:documentation>Адрес</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:all>
                                                <xs:element type="xs:boolean" name="IsRegistration">
                                                   <xs:annotation>
                                                      <xs:documentation>Является ли данный адрес регистрацией поступающего</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="String1024Type" name="FullAddr">
                                                   <xs:annotation>
                                                      <xs:documentation>Полный адрес</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="Int4Type" name="IdRegion">
                                                   <xs:annotation>
                                                      <xs:documentation>Идентификатор классификатора RegionCls</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="String255Type" name="City">
                                                   <xs:annotation>
                                                      <xs:documentation>Населенный пункт</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="Int4Type" name="IdOksm">
                                                   <xs:annotation>
                                                      <xs:documentation>Страна. Идентификатор классификатора OksmCls</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                             </xs:all>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="DocumentList" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Список документов поступающего</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="Document" minOccurs="1" maxOccurs="unbounded">
                                          <xs:annotation>
                                             <xs:documentation>Документ</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                             <xs:all>
                                                <xs:element type="BigIntType" name="Id">
                                                   <xs:annotation>
                                                      <xs:documentation>Уникальный идентификатор объекта сгенерированный Сервисом приема</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element name="File" minOccurs="0">
                                                   <xs:complexType>
                                                      <xs:all>
                                                         <xs:element type="FileHashType" name="FileHash">
                                                            <xs:annotation>
                                                               <xs:documentation>Хэш файла по которому можно узнать не менялось ли содержимое</xs:documentation>
                                                            </xs:annotation>
                                                         </xs:element>
                                                         <xs:element type="FuiType" name="Fui">
                                                            <xs:annotation>
                                                               <xs:documentation>Уникальный идентификатор файла в Сервисе Приема. По этому идентификатору можно получить файл в /api/file/get</xs:documentation>
                                                            </xs:annotation>
                                                         </xs:element>
                                                      </xs:all>
                                                   </xs:complexType>
                                                </xs:element>
                                                <xs:element type="Int4Type" name="IdDocumentType">
                                                   <xs:annotation>
                                                      <xs:documentation>Тип документа. Идентификатор классификатора DocumentTypeCls</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="String256Type" name="DocName">
                                                   <xs:annotation>
                                                      <xs:documentation>Наименование документа</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="String256Type" name="DocSeries" minOccurs="0">
                                                   <xs:annotation>
                                                      <xs:documentation>Серия документа</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="String256Type" name="DocNumber" minOccurs="0">
                                                   <xs:annotation>
                                                      <xs:documentation>Номер документа</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="String1000Type" name="DocOrganization" minOccurs="0">
                                                   <xs:annotation>
                                                      <xs:documentation>Организация, выдавшая документ</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element name="Achievement" minOccurs="0">
                                                   <xs:annotation>
                                                      <xs:documentation>Индивидуальное достижение</xs:documentation>
                                                   </xs:annotation>
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element name="EducationLevelGroupList">
                                                            <xs:annotation>
                                                               <xs:documentation>Группы уровней образования (бак/спец/бво или маг/спец.во или аспирантура)</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:complexType>
                                                               <xs:sequence>
                                                                  <xs:element type="Int4Type" name="Id" maxOccurs="unbounded">
                                                                     <xs:annotation>
                                                                        <xs:documentation>Группа уровней образования. Идентификатор справочника EducationLevelGroupCls</xs:documentation>
                                                                     </xs:annotation>
                                                                  </xs:element>
                                                               </xs:sequence>
                                                            </xs:complexType>
                                                         </xs:element>
                                                         <xs:element name="IdAchievementCategory" type="Int4Type">
                                                            <xs:annotation>
                                                               <xs:documentation>Категория Индивидуального достижения. Идентификатор справочника AchievementCategoryCls</xs:documentation>
                                                            </xs:annotation>
                                                         </xs:element>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                                <xs:element type="xs:date" name="IssueDate" minOccurs="0">
                                                   <xs:annotation>
                                                      <xs:documentation>Дата выдачи. Шаблон "2006-01-02"</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="Int4Type" name="IdCheckStatus">
                                                   <xs:annotation>
                                                      <xs:documentation>Статус проверки документа. Идентификатор классификатора DocumentCheckStatusCls</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="xs:dateTime" name="CreatedDateTime">
                                                   <xs:annotation>
                                                      <xs:documentation>Время создания документа. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение только по московскому времени</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="xs:dateTime" name="UpdatedDateTime">
                                                   <xs:annotation>
                                                      <xs:documentation>Время последнего редактирования документа. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение только по московскому времени</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                                <xs:element type="SourceType" name="Source">
                                                   <xs:annotation>
                                                      <xs:documentation>Источник создания документа</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                             </xs:all>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Photo" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:all>
                                       <xs:element type="FileHashType" name="FileHash">
                                          <xs:annotation>
                                             <xs:documentation>Хэш файла по которому можно узнать не менялось ли содержимое</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="FuiType" name="Fui">
                                          <xs:annotation>
                                             <xs:documentation>Уникальный идентификатор файла в Сервисе Приема. По этому идентификатору можно получить файл в /api/file/get</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                    </xs:all>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="BaseEducationList" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Базовое образование указанное на ЕПГУ</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="IdBaseEducation" type="Int4Type" maxOccurs="unbounded">
                                          <xs:annotation>
                                             <xs:documentation>Базовое образование. Идентификатор справочника BaseEducationCls</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ForeignerEntrantInfo" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Данные иностранного абитуриента</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:all>
                                       <xs:element type="String256Type" name="Surname" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Фамилия на латинице (требуется для визы и приглашения)</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="String256Type" name="Name" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Имя на латинице (требуется для визы и приглашения)</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="Int4Type" name="IdCitizenShipCountry" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Гражданство. Идентификатор классификатора OksmCls</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="Int4Type" name="IdInviteCountry" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Страна получения визы (для оформления приглашения на обучение). Идентификатор классификатора OksmCls</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="String256Type" name="InviteCity" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Город получения визы (для оформления приглашения на обучение)</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="String256Type" name="InviteAddress" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Адрес для оформления приглашения на обучение</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="BigIntType" name="IdRecruter" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>Информация о сотрудничестве с «рекрутером». Идентификатор классификатора RecruterCls</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                    </xs:all>
                                 </xs:complexType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="ErrorList" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Error" maxOccurs="unbounded" minOccurs="1">
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="xs:positiveInteger" name="Code">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный код ошибки. Полный список кодов ошибок и их расшифровок смотрите в документации</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:positiveInteger" name="IdObject" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена.
                                    Например, если в токене было передано три объекта, то каждому из них должен быть присвоен
                                    уникальный номер (IdObject), и тогда по каждому объекту вернется либо Success либо Error.
                                    При этом ответ по каждой отдельной сущности вернется только в случае успешно пройденной основной валидации</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String350Type" name="Description">
                                 <xs:annotation>
                                    <xs:documentation>Описание кода ошибки</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="ParamType" name="Params" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Нестандартизированный параметр который раскрывает детали произошедшей ошибки</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="Time">
                                 <xs:annotation>
                                    <xs:documentation>Время формирования ответа. Формат RFC3339 шаблон "2006-01-02T15:04:05+03:00". Значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="ParamType">
      <xs:sequence>
         <xs:element name="Param" maxOccurs="unbounded" minOccurs="1">
            <xs:complexType>
               <xs:all>
                  <xs:element type="String200Type" name="Key" />
                  <xs:element type="String350Type" name="Value" />
               </xs:all>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String256Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="StageType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Validate" />
         <xs:enumeration value="Business" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Int2Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="32767" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Int4Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="2147483647" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="SnilsType">
      <xs:annotation>
         <xs:documentation>СНИЛС</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:length value="11" />
         <xs:pattern value="\d{11}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="SourceType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Oovo" />
         <xs:enumeration value="Epgu" />
         <xs:enumeration value="SSPVO" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="FileHashType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String50Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="FuiType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="70" />
         <xs:minLength value="55" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String120Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String150Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="150" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String200Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="200" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String255Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="255" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String350Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="350" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String500Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="500" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String1000Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1000" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String1024Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1024" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
