domains/D12-digital/best-practices/fis-egia-api/schemas/DespatchXsd/EpguNoticeDone/EpguNoticeDone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="EpguNoticeDone">
               <xs:annotation>
                  <xs:documentation>Выполнение действия на ЕПГУ по уведомлению</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:positiveInteger" name="Id">
                        <xs:annotation>
                           <xs:documentation>Id уведомления (объект сущности NoticeList)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>