domains/D12-digital/best-practices/fis-egia-api/schemas/ClsXsd/GenderCls.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="GenderCls" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>Пол поступающего</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="Int2Type" name="Id">
                        <xs:annotation>
                           <xs:documentation>Идентификатор</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="xs:string" name="Name">
                        <xs:annotation>
                           <xs:documentation>Наименование</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="xs:boolean" name="Actual">
                        <xs:annotation>
                           <xs:documentation>Признак актуальности</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="Int2Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="32767" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>