domains/D12-digital/best-practices/fis-egia-api/schemas/DespatchXsd/EpguPaidContractResult/EpguPaidContractResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="EpguPaidContractResult">
               <xs:annotation>
                  <xs:documentation>Результат подписания платного договор/доп.соглашения на ЕПГУ</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="BigIntType" name="IdCompetitiveGroup">
                        <xs:annotation>
                           <xs:documentation>Уникальный идентификатор КГ заявления (CompetitiveGroupList) сгенерированный Сервисом приема</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="Int4Type" name="IdPaidContractStatus">
                        <xs:annotation>
                           <xs:documentation>Статус договора о платном обучении. Идентификатор классификатора PaidContractStatusCls</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="Int4Type" name="IdAdditionalPaidContractStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>Статус доп соглашения договора о платном обучении. Идентификатор классификатора PaidContractStatusCls</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="FileType" name="Document" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>Договор (если договор/доп.соглашение подписан)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="FileType" name="Signature1" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>Подпись вуза (если договор/доп.соглашение подписан)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="FileType" name="Signature2" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>Подпись поступающего (отправлять договор/доп.соглашение подписан)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="FileType" name="Signature3" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>Подпись второго подписанта (отправлять договор/доп.соглашение подписан)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="FileType" name="Signature4" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>Подпись третьего подписанта (отправлять договор/доп.соглашение подписан)</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="FileType">
      <xs:annotation>
         <xs:documentation>Описание файлов</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element type="FuiType" name="Fui">
            <xs:annotation>
               <xs:documentation>Уникальный идентификатор файла в Сервисе Приема. По этому идентификатору можно получить файл в /api/file/get</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Description" type="String256Type">
            <xs:annotation>
               <xs:documentation>Наименование файла</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="FuiType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="70" />
         <xs:minLength value="55" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Int4Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="2147483647" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String256Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1024" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>