domains/D12-digital/best-practices/fis-egia-api/schemas/OwnXsd/EducationalProgramList/Add.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EducationalProgramList">
                    <xs:annotation>
                        <xs:documentation>Образовательная программа (сущность)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EducationalProgram" minOccurs="1" maxOccurs="200">
                                <xs:annotation>
                                    <xs:documentation>Объект</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element type="BigIntType" name="IdObject">
                                            <xs:annotation>
                                                <xs:documentation>Уникальный идентификатор объекта в рамках данного токена</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element type="UidType" name="Uid">
                                            <xs:annotation>
                                                <xs:documentation>Уникальный идентификатор объекта в рамках организации сгенерированный организацией</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element type="String500Type" name="Name">
                                            <xs:annotation>
                                                <xs:documentation>Название образовательной программы</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element type="xs:boolean" name="IsProgram">
                                            <xs:annotation>
                                                <xs:documentation>Признак true - образовательная программа, false - профиль</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element type="Int4Type" name="StudyDuration">
                                            <xs:annotation>
                                                <xs:documentation>Срок обучения, мес.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="BigIntType">
        <xs:restriction base="xs:positiveInteger">
            <xs:maxInclusive value="9223372036854775807" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Int4Type">
        <xs:restriction base="xs:positiveInteger">
            <xs:maxInclusive value="2147483647" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String500Type">
        <xs:restriction base="xs:string">
            <xs:maxLength value="500" />
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UidType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="36" />
            <xs:minLength value="10" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>