domains/D12-digital/best-practices/fis-egia-api/schemas/DespatchXsd/LkCompetitiveGroupStatus/LkCompetitiveGroupStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="LkCompetitiveGroupStatus">
               <xs:annotation>
                  <xs:documentation>Статус КГ, внесенный оператором вуза через ЛК Сервиса приема</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Status" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="BigIntType" name="IdCompetitiveGroup">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор КГ заявления (CompetitiveGroupList)</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdStatus">
                                 <xs:annotation>
                                    <xs:documentation>Статус КГ заявления. Идентификатор классификатора CompetitiveGroupStatusCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String500Type" name="StatusComment" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Комментарий к статусу</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdReasonRejection" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Причина. Идентификатор классификатора ReasonsRejectionCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="BigIntType">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="9223372036854775807" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Int4Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="2147483647" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String500Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="500" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
