domains/D12-digital/best-practices/fis-egia-api/schemas/OwnXsd/DictionaryValueList/GetAll.Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="PackageData">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="xs:positiveInteger" name="IdJwt">
               <xs:annotation>
                  <xs:documentation>Уникальный идентификатор запроса на обработку данных (токена)</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="String50Type" name="EntityAction">
               <xs:annotation>
                  <xs:documentation>Имя сущности и действие над сущностью сконкатенированное через '_'. Например "Campaign_Add"</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="StageType" name="Stage">
               <xs:annotation>
                  <xs:documentation>Наименование стадии обработки на которой завершилось выполнение токена</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="SuccessResultList" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="DictionaryValue" maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:documentation>Объект</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="xs:positiveInteger" name="IdObject">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="Id">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта DictionaryValue</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="UidType" name="Uid">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках организации сгенерированный организацией</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="Int4Type" name="IdDictionaryType">
                                 <xs:annotation>
                                    <xs:documentation>Идентификатор классификатора DictionaryTypeCls</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String255Type" name="Value">
                                 <xs:annotation>
                                    <xs:documentation>Значение справочника</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="ErrorList" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Error" maxOccurs="unbounded" minOccurs="1">
                        <xs:complexType>
                           <xs:all>
                              <xs:element type="xs:positiveInteger" name="Code">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный код ошибки. Полный список кодов ошибок и их расшифровок смотрите в документации</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:positiveInteger" name="IdObject" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Уникальный идентификатор объекта в рамках данного токена.
                                    Например, если в токене было передано три объекта, то каждому из них должен быть присвоен
                                    уникальный номер (IdObject), и тогда по каждому объекту вернется либо Success либо Error.
                                    При этом ответ по каждой отдельной сущности вернется только в случае успешно пройденной основной валидации</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="String350Type" name="Description">
                                 <xs:annotation>
                                    <xs:documentation>Описание кода ошибки</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="ParamType" name="Params" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Нестандартизированный параметр который раскрывает детали произошедшей ошибки</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element type="xs:dateTime" name="Time">
                                 <xs:annotation>
                                    <xs:documentation>Время формирования ответа. Значение только по московскому времени</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="ParamType">
      <xs:sequence>
         <xs:element name="Param" maxOccurs="unbounded" minOccurs="1">
            <xs:complexType>
               <xs:all>
                  <xs:element type="String200Type" name="Key" />
                  <xs:element type="String350Type" name="Value" />
               </xs:all>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="StageType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Validate" />
         <xs:enumeration value="Business" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Int4Type">
      <xs:restriction base="xs:positiveInteger">
         <xs:maxInclusive value="2147483647" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String50Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String200Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="200" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String255Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="255" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="String350Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="350" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UidType">
      <xs:restriction base="xs:string">
         <xs:maxLength value="36" />
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
</xs:schema>